In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('/home/lettuce/MyCode/Where is the love/Where-is-the-love/csv/country_ERA.csv')
df

      Country Name    Era
0      Johnny Cash  1960s
1    Hank Williams  1950s
2    George Strait  1980s
3    Merle Haggard  1970s
4     Alan Jackson  1990s
..             ...    ...
95     Kitty Wells  1980s
96      Bobby Bare  1990s
97  Patty Loveless  1980s
98   Rascal Flatts  2000s
99    Ricky Skaggs  1970s

[100 rows x 2 columns]

In [4]:
df['Era'].value_counts()
7,9,6,8,00,10

1970s    22
1990s    17
1960s    15
1980s    14
2000s    10
2010s    10
1950s     6
2020s     2
1940s     2
1930s     2
Name: Era, dtype: int64