In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/home/lettuce/MyCode/Where is the love/Where-is-the-love/csv/rap_ERA.csv')
df

                 Rap Name    Era
0    The Notorious B.I.G.  1990s
1                   Tupac  1990s
2                  Eminem  2000s
3          Kendrick Lamar  2010s
4                     Nas  1990s
..                    ...    ...
117                   JID  2020s
118          Denzel Curry  2020s
119         Isaiah Rashad  2010s
120           Death Grips  2010s
121             DJ Khaled  2010s

[122 rows x 2 columns]

In [5]:
df['Era'].value_counts()

2010s    38
1990s    26
2000s    24
2020s    20
1980s    14
Name: Era, dtype: int64